*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container {
    width: 100%;
    background-color: pink;
    
    header{
        padding: 10vmin 0 0 0;
        margin: 0 0 5vmin 0;

        h1,p{
            text-align: center;
        }
        h1{
            font-size: 6vmin;
        }
        p{
            font-size: 3.5vmin;
            font-style: italic;
        }
    }
    form{
        background-color: purple;
        width: 90vmin;
        height: 100%;
        margin: 0 auto;
        padding: 4vmin;
        color: white;

        .form-group{
            display: flex;
            flex-direction: column;
            margin: 0 0 4vmin 0;
            font-size: 5vmin;

            .rb {
                width: 2vmin;
                height: 3vmin;
            }
            .chk{
                width: 2vmin;
                height: 3vmin;
            }
            button{
                border-radius: 1vmin;
                background-color: green;
                color: white;
                padding: 2vmin;
                border: none;
                font-size: 5vmin;
            }
            input{
                font-size: 4vmin;
            }
            select{
                font-size: 4vmin;
            }
            textarea{
                font-size: 4vmin;
            }
        }
    }
}
